
.center {
    align-items: center;
}
.pull-right {
    float: right;
 }
 
 .side-side {
    display: flex;
 }
 
 .space-out {
    padding: 50px;
 }
 
 .resize{
   width:100%;
   max-width:75px;
}
.carousel-inner  {
   height: 100vh;
   width: 100vw;
}