
.contact-button {
    margin-right: 8px;
    float: right;
}

.nav-container {
    margin: 20px auto;
    max-width: 40vw;
    max-height: 100vh;
   
}

.table-buttons {
    margin: auto;
    max-width: 80vw;
    max-height: 80vh;
}

.contact-grid {
    display: grid;
    margin: 20px auto;
    width: 90%;
    height: 80%;
    overflow: visible;
    position: relative;   
}

.main-nav {
    padding: 12px 5%;
}

.carousel-inner {
    height: 100%;
    width: 100%;
    position: static;
 }
