.contact-button {
    margin-right: 9px;
}

.nav-container {
    margin: 20px auto;
    width: 90%;
}

.contact-grid {
    display: grid;
    margin: 20px auto;
    width: 90%;
    height: 80%;
    max-height: 80vh;
    overflow: auto;
}

.main-nav {
    padding: 9px 5%;
}