
.contact-button {
    margin-right: 9px;
}

.nav-container {
    margin: 20px auto;
    max-width: 40vw;
   
}

.contact-grid {
    display: grid;
    margin: 20px auto;
    width: 90%;
    height: 80%;
    overflow: visible;
    position: relative;

}

.main-nav {
    padding: 12px 5%;
    position: relative;
}

.carousel-inner {
    height: 100%;
    width: 100%;
 }
