<app-toast></app-toast>



<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">
  <a class="navbar-brand " href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <a class="nav-link font-weight-bolder h4" href="#">Sparect <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link h4" href="#">Films <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link h4" href="#">TV Shows<span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item active">
          <a class="nav-link h4" href="#">Music <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item active">
        <a class="nav-link">
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
        [(ngModel)]='contactParams' name="search">
      <div class="btn-group">
        <button class="btn btn-light" type="submit" (click)="searchContact(contactParams)">Search</button>
        <button class="btn btn-danger" type="submit" (click)="logout()">
          Logout
        </button>
      </div>
    </form>
  </div>
</nav>


  <h1 class="display-4 text-white nav-container">Welcome back, {{currentUser.username}}!
    </h1>

    <div class="bd-example nav-container">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner courasel">
            <div class="carousel-item active" id="firstSlide">
              <img src="../../assets/Misc. Images/mrrobot banner.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>What's New</h5>
                <p>Not sure what to put here, so I'm just going to write about how I don't know what to put here.</p>
              </div>
            </div>
            <div class="carousel-item" id="secondSlide">
              <img src="../../assets/Misc. Images/avengers-endgame-poster-og-social-crop.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>What's New</h5>
                <p>Not sure what to put here, so I'm just going to write about how I don't know what to put here.</p>
              </div>
            </div>
            <div class="carousel-item" id="thirdSlide">
              <img src="../../assets/Misc. Images/beatles.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>What's New</h5>
                <p>Not sure what to put here, so I'm just going to write about how I don't know what to put here.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span (click)="previousSlide()" class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
  

<ul class="nav justify-content-end nav-container">
  <li class="nav-item">
    <button type="button" class="btn btn-primary contact-button" (click)="loadContacts()">
      Load Contacts
    </button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-primary contact-button" (click)="saveItemsToLocalStorage(contacts)">
      Save All
    </button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-primary contact-button" (click)="addContact()">
      Add Contacts
    </button>
  </li>
</ul>


<div class="contact-grid text-light">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="text-light">
      <tr *ngFor="let contact of contacts; let i = index">
        <th *ngIf="!contact.editing" scope="row">{{contact.id}}</th>
        <td *ngIf="!contact.editing">{{contact.firstName}}</td>
        <td *ngIf="!contact.editing">{{contact.lastName}}</td>
        <td *ngIf="!contact.editing">{{contact.email}}</td>
        <td *ngIf="!contact.editing">{{contact.phone}}</td>
        <td *ngIf="!contact.editing">
          <button type="button" class="btn btn-danger contact-button" (click)="deleteContact(i)">
            X
          </button>

        </td>



        <th *ngIf="contact.editing" scope="row">
          <input [(ngModel)]="contact.id" type="text" class="form-control" placeholder="ID" aria-label="ID"
            aria-describedby="basic-addon1">
        </th>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.firstName" type="text" class="form-control" placeholder="First Name"
            aria-label="First Name" aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.lastName" type="text" class="form-control" placeholder="Last Name"
            aria-label="Last Name" aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.email" type="text" class="form-control" placeholder="Email" aria-label="Email"
            aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.phone" type="text" class="form-control" placeholder="Phone" aria-label="Phone"
            aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <div class="btn-group">
            <button type="button" class="btn btn-success contact-button" (click)="saveContact(contact)">
              Save
            </button>
            <button type="button" class="btn btn-danger contact-button" (click)="deleteContact(i)">
              X
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>